{% extends "FlowcodeDashboardBundle:Default:layout.html.twig" %}

{% block title %}Question - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            <a href="{{ path('admin_question') }}"> {{ 'Question list'|trans({'Question': 'Question'}, 'Question') }}</a>
            /
            {{ 'Question' | trans({}, 'Question')}}
        </h1>
    </section>
    <section class="content">    
        <div class="box"  id='showQuestion'>
            <div class="box-header">
                <div class="box-tools  pull-right">
                            {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">            <button class="btn btn-link btn-sm" type="submit"> {{ 'Delete'|trans({}, 'Question') }}</button>
            <input name="modal" type="hidden" value="0">
            
                <a class="btn btn-link  btn-sm" onclick="showEdit(true)">
                    {{ 'Edit'|trans({}, 'Question') }}
                </a>
</div>
            <input name="modal" type="hidden" value="0">
        {{ form_end(delete_form) }}

</div>
            </div>
            <div class="box-body">
                <table class="table table-hover record_properties">
                    <tbody>                            
                        <tr>
                            <th scope="row">{{'Title'|trans({}, 'Question')}}</th>
                            <td>{{ question.title }}</td>
                        </tr>                            
                        <tr>
                            <th scope="row">{{'Answer'|trans({}, 'Question')}}</th>
                            <td>{{ question.answer }}</td>
                        </tr>                            
                        <tr>
                            <th scope="row">{{'Enabled'|trans({}, 'Question')}}</th>
                            <td>{% if question.enabled %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
                        </tr>                            
                        <tr>
                            <th scope="row">{{'Position'|trans({}, 'Question')}}</th>
                            <td>{{ question.position }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
            
            </div>
        </div>
        <div class="box" id='editFormQuestion'  style="display: none;">
            <div class="box-header">
                <div class="box-tools">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}
                    <div class="btn-group record_actions">
                        <button class="btn btn-link btn-sm" type="submit"> {{ 'Delete'|trans({}, 'Question') }}</button>
                        <a class="btn btn-link  btn-sm" onclick="showEdit(false)">
                        {{ 'Cancel'|trans({}, 'Account') }}
                        </a>
                    </div>
                    <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}
                </div>
            </div>
            <div class="box-body">

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <p>
                    <button class="btn-default btn" type="submit">{{ 'save'|trans | capitalize}}</button>
                </p>
            {{ form_end(edit_form) }}
            </div>
            <div class="box-footer">
            </div>
        </div>
    </section>

        <div class="btn-group record_actions"></div>

        <div id="delete_confirm" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>{{ 'Confirm delete'|trans({}, 'Question') }}</h3>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'You are about to delete an item'|trans({}, 'Question') }}, {{ 'this procedure is irreversible'|trans({}, 'Question') }}.</p>
                        <p>{{ 'Do you want to proceed?'|trans({}, 'Question') }}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger">{{ 'Yes'|trans({}, 'Question') }}</button>
                        <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'Question') }}</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        function showEdit(show){
            if(show){
                $('#showQuestion').hide();
                $('#editFormQuestion').show();
            }else{
                $('#showQuestion').show();
                $('#editFormQuestion').hide();
            }
        }
        
    </script>
{% endblock %}